{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section blog-wrap border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12 mb-5">
            <div class="single-blog-item ">
              <img src="{{ .Params.Image | relURL }}" alt="{{ .Title | markdownify }}" class="img-fluid w-100">
              <div class="blog-item-meta mt-4 mb-3">
                <h4>{{ .Params.Title }}</h4>
                <span class="text-black mr-3">Author: {{ .Params.Author }}</span>
              </div>
              {{ if .Params.purchaseLink }}
              <div class="mb-4">
                <h5>Price : <span class="text-color">{{ .Params.price }} CHF</span></h5>
              </div>
              {{ end }}
              <p class="mb-4">{{  .Params.content | markdownify }}</p>
              {{ with .Params.purchaseLink }}
              <a href="{{ . | safeURL }}" target="_blank" class="mt-2 btn btn-main">Purchase now</a>
              {{ else }}
              <a href="mailto:pmagnuson@las.ch" class="mt-2 btn btn-main">Contact Author</a>
              {{ end }}
              <!-- {{ if .Params.purchaseLink }}
              <button class="snipcart-add-item btn btn-main" data-item-id="{{  .Params.item_id }}"
                data-item-name="{{  .Params.title | markdownify }}" data-item-image="{{  .Params.image | absURL }}" data-item-price="{{  .Params.price }}" data-item-url="{{  $.Site.Params.snipcartUrl }}{{ .Permalink | absURL }}"
                data-item-weight="{{ .Params.weight }}">
                Purchase now <i class="ti-angle-right ml-3"></i>
              </button>
              {{ end }} -->
              <hr>
              {{ .Content }}
              <hr>
            </div>
          </div>
          <div class="col-lg-12 mb-5">
            <ul class="list-inline share">
              <li class="lis-inline-item">
                <h4>Share now :</h4>
              </li>
              {{ range .Site.Params.share }}
              <li class="list-inline-item mb-2 mb-lg-0"><a href="#" target="_blank"><i class="{{ .icon }} mr-2"
                    aria-hidden="true"></i>{{ .name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}
