{{ define "main" }}

  {{ partial "landing/banner.html" . }}
  {{ partial "landing/skills_services.html" . }}
  {{ partial "landing/blog_edu.html" . }}

  {{ partial "landing/book_preview.html" . }}
  {{ partial "landing/books_vertical.html" . }}
  {{ partial "landing/books_horizontal.html" . }}

  {{ partial "landing/community_faeries.html" . }}
  {{ partial "landing/school_visits.html" . }}

  {{ partial "landing/podcasts.html" . }}
  {{ partial "landing/blog.html" . }}

  {{ partial "landing/about_author.html" . }}
  {{ partial "landing/contact_form.html" . }}

{{ end }}
