{{ define "main" }}

<!-- Banner -->
{{ if .Site.Data.homepage.banner.enable }}

{{ with .Site.Data.homepage.banner }}
<section class="banner-main py-7" id="banner">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12">
        <div class="main-banner">
          <h1 class="mb-3 mt-2">{{ .title }}</h1>
          <h2 class="text-color font-weight-bold">{{ .author }}</h2>

          <!-- <h4 class="mb-3 mt-2">{{ .subTitle }}</h4> -->
          <p class="mb-4">{{ .content | safeHTML }}</p>
        </div>
      </div>
      <!-- {{ if .image }}
      <div class="col-lg-5 d-none d-lg-block">
        <div class="banner-img pt-5">
          <img src="{{ .image | relURL }}" alt="{{ .title | markdownify }}" class="img-fluid w-100">
        </div>
      </div>
      {{ end }} -->
    </div>
  </div>
</section>
{{ end }}

{{ end }}

<!-- Book preview -->
{{ if .Site.Data.homepage.preview.enable }}
{{ with .Site.Data.homepage.preview }}
<section class="section-heading" id="preview">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="book-preview">
          <img src="{{`images/about/kindle.png` | relURL}}" style="width: 380px; height: 490px;" class="mt-1 background-device img-fluid" alt="device">
          <div class="book-pages">
            {{ range .pagePreview }}
            <div class="item">
              <img src="{{ .image | relURL }}" alt="page-preview" style="width: 300px; height: 415px;" class="img-fluid">
              <div class="overlay">
                <a href="{{ .image | relURL }}" class="popup-gallery img-fluid" data-title="Preview">
                  <i class="ti-fullscreen"></i>
                </a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="section-heading book-info mt-5 mt-lg-0">
          <h2 class="text-lg mb-4">{{ .title | markdownify }}</h2>
          {{ .content | markdownify }}

          <ul class="list-unstyled mt-4 mb-5">
            {{ range .inside }}
            <li><i class="ti-check mr-3"></i> {{ .insideItem | markdownify }}</li>
            {{ end }}
          </ul>
          {{ if .preview_button.enable }}
            {{ with .preview_button }}
              <a href="{{ .link | safeURL }}" target="_blank" class="btn btn-main-2">{{ .label }}</a>
              <!-- add shopping cart? -->
              <!-- <button class="snipcart-add-item btn btn-main mt-2" data-item-id="faerie"
                data-item-name="{{ .title | markdownify }}" data-item-image="{{ .image | absURL }}" data-item-price="{{ .price }}" data-item-url="{{ .Permalink | absURL }}">
                Purchase now <i class="ti-angle-right ml-3"></i>
              </button> -->
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- booksvertical -->
{{ if .Site.Data.homepage.booksvertical.enable }}
<section class="section section-bottom bg-grey" id="books">
  <!-- <div class="container col-9 bg-grey" style="border-radius: 25px;"> -->
  <div class="container col-xl-8 col-lg-9 col-md-10 col-sm-10 col-xs-10">
    {{ with .Site.Data.homepage.booksvertical }}
    <div class="row justify-content-between">
      <div class="col-12 text-center">
        <div class="main-banner">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    {{ range first 3 ((where .Site.RegularPages "Type" "book").ByParam "priority")}}
    {{ .Render "bookvertical"}}
    {{ end }}
    <div class="text-center mt-5">
      <a href="/book" class="btn btn-main">All books</a>
    </div>
  </div>
</section>
{{ end }}

<!-- visits -->
{{ if .Site.Data.homepage.visits.enable }}
<section class="section-bottom others-book" id="visits">
  <div class="container">
    {{ with .Site.Data.homepage.visits }}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="row justify-content-center">
      {{ range first 3 (((where .Site.RegularPages "Type" "visit").ByParam "event_date").Reverse)}}
      <div class="col-lg-4 col-md-4 col-sm-6">
        {{ .Render "visit"}}
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/visit" class="btn btn-main">All visits</a>
    </div>
  </div>
</section>
{{ end }}

<!-- books horizontal -->
{{ if .Site.Data.homepage.bookshorizontal.enable }}
<section class="section-bottom others-book" id="book">
  <div class="container">
    {{ with .Site.Data.homepage.bookshorizontal }}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="row justify-content-center">
      {{ range first 3 ((where .Site.RegularPages "Type" "book").ByParam "priority")}}

      {{ .Render "bookhorizontal"}}

      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/book" class="btn btn-main">All My Books</a>
    </div>
  </div>
</section>
{{ end }}

<!-- Community Faeries -->
{{ if .Site.Data.homepage.faerie.enable }}
<section class="section-bottom blog-home" id="faerie">
  <div class="container" style="border-radius: 25px;">
    {{ with .Site.Data.homepage.faerie }}
    <div><br></div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-heading text-center">
          <h2 class="text-lg mb-3">{{ .title | markdownify }}</h2>
          <p>
            {{ .subtitle | markdownify }}
            <br>
          </p>

          <!-- Netlify Faerie Form -->
          <!-- enctype='multipart/form-data' -- allows file uploads
            see:  https://stackoverflow.com/questions/59592898/netlify-form-submission-not-showing-file-on-the-back-end-all-other-fields-are-s
                  https://community.netlify.com/t/how-to-send-file-uploads-using-fetch-via-netlify-forms/1498
                  https://github.com/futuregerald/react-netlify-form-file/blob/master/public/form.html
          -->
          <form name="edStudioFaerie" method="POST" enctype='multipart/form-data' data-netlify="true"
            id="edStudioFaerie">
            <div class="form-group form-group-lg">
              <div class="row">
                <div class="col-12 col-md-6">
                  <input type="text" class="form-control" id="subject" name="faerieName" placeholder="Faerie's Name">
                  <br>
                  <textarea name="story" id="story" class="form-control" rows="5"
                    placeholder="Faerie's Story (optional)"></textarea>
                </div>
                <div class="col-12 col-md-6">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Your First Name">
                  <br>
                  <input type="email" class="form-control" id="mail" name="mail" placeholder="Your Email (optional)">
                </div>
              </div>
              <div class="row"><br></div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="faerieImage" name="faerieImage"
                      onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                    <label class="custom-file-label" for="faerieImage">Faerie's Picture</label>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <button type="submit" value="send" class="btn btn-primary">Send</button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "faerie")}}
      <div class="col-lg-4 col-md-6 col-sm-6">
        {{ .Render "faerie"}}
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/faerie" class="btn btn-main">All Faeries</a>
    </div>
  </div>
</section>
{{ end }}

<!-- Latest podcast -->
{{ if .Site.Data.homepage.podcast.enable }}
<section class="section-bottom" id="podcast">
<!-- <div class="row">
  &nbsp;
</div> -->
  <div class="container">
    {{ with .Site.Data.homepage.podcast }}
    <div class="row">
      &nbsp;
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h2 class="text-lg mb-3">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "podcast")}}
      <div class="col-lg-4 col-md-6 col-sm-6">
      {{ .Render "podcast"}}
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/podcast" class="btn btn-main">All Podcasts</a>
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</section>
{{ end }}

<!-- magnuson studio blog -->
{{ if .Site.Data.homepage.blog.enable }}
<section class="section blog blog-home" id="blog">
  <div class="container">
    {{ with .Site.Data.homepage.blog }}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h2 class="text-lg mb-3">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range first 2 (where .Site.RegularPages "Type" "blog")}}
      <div class="col-lg-4 col-md-6 col-sm-6">
      {{ .Render "blog"}}
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/blog" class="btn btn-main">All Blogs</a>
    </div>
  </div>
</section>
{{ end }}

<!-- About Author -->
{{ if .Site.Data.homepage.author.enable }}
{{ with .Site.Data.homepage.author }}
<section class="about section" id="author">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about-img">
          <img src="{{ .image | relURL }}" alt="{{ .name }}" class="img-fluid w-100">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="author-info pl-4 mt-5 mt-lg-0">
          <h2 class="text-lg">{{ .name }}</h2>
          <p class="mb-4 lead">{{ .designation }}</p>
          {{ .content | markdownify }}

          {{ if .signature }}
          <img src="{{ .signature | relURL }}" alt="" class="img-fluid">
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- blogedus - other educational blogs -->
{{ if .Site.Data.homepage.blogedu.enable }}
{{ with .Site.Data.homepage.blogedu }}
<section class="section-top testimonial" id="blogedu">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="section-heading text-center">
          <h2 class="mb-3 text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-12 col-sm-12 col-md-12 testimonial-wrap">
        {{ range .blogedu}}
        <div class="test-item">
          <div class="blogedu-item-content">
            <div class="book-item mb-4 mb-lg-0">
              <img src="{{ .image | relURL }}" alt="" class="img-fluid">
              <a href="{{ .link | safeURL }}" class="hover-item">
                <i class="ti-link"></i>
              </a>
            </div>
            <div class="blogedu-thumb mb-4">
              <!--
              <a href="{{ .url | safeURL }}" class="hover-item">
                <img src="{{ .image | relURL }}" alt="blog website image" class="img-fluid">
              </a>
              -->
              <div class="blogedu-info mt-4">
                <h4 class="mb-0 mt-2">
                  <a href="{{ .url | safeURL }}">{{ .name }}</a>
                </h4>
                <p>{{ .author }}</p>
              </div>
            </div>
            <p class="mb-0">{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!--Services -->
{{ if .Site.Data.homepage.skill.enable }}
{{ with .Site.Data.homepage.skill }}
<section class="pt-4 section-bottom" id="skill">
  <div class="container">
    <div class="row">
      &nbsp;
      <br><br><br>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="section-heading text-center">
          <h2 class="mb-2 text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      {{ range .skillItem }}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-block mb-4 mb-lg-0">
          <i class="{{ .icon }} text-danger"></i>
          <h4 class="mb-3 mt-4">{{ .title | markdownify }}</h4>
          <p class="mb-0">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Contact -->
{{ if .Site.Data.homepage.contact.enable }}
{{ with .Site.Data.homepage.contact }}
<section class="section contact bg-grey mb-0" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="section-heading text-center">
          <h2 class="mb-2 text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <!-- Netlify Contact Form -->
        <form name="edStudioContact" method="POST" data-netlify="true" id="edStudioContact">
          <div class="form-group form-group-lg">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"><br>
            <input type="email" class="form-control" id="mail" name="mail" placeholder="Your Email"><br>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"><br>
            <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea><br>
            <button type="submit" value="send" class="btn btn-primary">Send</button>
          </div>
        </form>
        <!-- Formspree -->
        <!--
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <div class="form-group form-group-lg">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"><br>
            <input type="email" class="form-control" id="mail" name="mail" placeholder="Your Email"><br>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"><br>
            <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea><br>
            <button type="submit" value="send" class="btn btn-primary">Send</button>
          </div>
        </form>
        -->
      </div>
    </div>

    <div class="row" style="padding-top: 25px;">
      {{ range .contactItem }}
      <div class="col-lg-4 col-sm-6">
        <div class="contact-info-block text-center mb-4">
          <i class="{{ .icon }}"></i>
          <p class="mb-0">{{ .title | markdownify }}</p>
          {{ range .list }}
          <h5>{{ .listItem }}</h5>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
