{{ if .Site.Data.homepage.preview.enable }}
{{ with .Site.Data.homepage.preview }}
<section class="section-heading" id="preview">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="book-preview">
          <img src="{{`images/about/kindle.png` | relURL}}" style="width: 380px; height: 490px;"
            class="mt-1 background-device img-fluid" alt="device">
          <div class="book-pages">
            {{ range .pagePreview }}
            <div class="item">
              <img src="{{ .image | relURL }}" alt="page-preview" style="width: 300px; height: 415px;"
                class="img-fluid">
              <div class="overlay">
                <a href="{{ .image | relURL }}" class="popup-gallery img-fluid" data-title="Preview">
                  <i class="ti-fullscreen"></i>
                </a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="section-heading book-info mt-5 mt-lg-0">
          <h2 class="text-lg mb-4">{{ .title | markdownify }}</h2>
          {{ .content | markdownify }}

          <ul class="list-unstyled mt-4 mb-5">
            {{ range .inside }}
            <li><i class="ti-check mr-3"></i> {{ .insideItem | markdownify }}</li>
            {{ end }}
          </ul>
          {{ if .preview_button.enable }}
          {{ with .preview_button }}
          <a href="{{ .link | safeURL }}" target="_blank" class="btn btn-main-2">{{ .label }}</a>
          <!-- add shopping cart? -->
          <!-- <button class="snipcart-add-item btn btn-main mt-2" data-item-id="faerie"
                data-item-name="{{ .title | markdownify }}" data-item-image="{{ .image | absURL }}" data-item-price="{{ .price }}" data-item-url="{{ .Permalink | absURL }}">
                Purchase now <i class="ti-angle-right ml-3"></i>
              </button> -->
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
