<!-- Contact -->
{{ if .Site.Data.homepage.contact.enable }}
{{ with .Site.Data.homepage.contact }}
<section class="section contact bg-grey mb-0" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="section-heading text-center">
          <h2 class="mb-2 text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <!-- Netlify Contact Form -->
        <form name="edStudioContact" method="POST" data-netlify="true" id="edStudioContact">
          <div class="form-group form-group-lg">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"><br>
            <input type="email" class="form-control" id="mail" name="mail" placeholder="Your Email"><br>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"><br>
            <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea><br>
            <button type="submit" value="send" class="btn btn-primary">Send</button>
          </div>
        </form>
        <!-- Formspree -->
        <!--
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <div class="form-group form-group-lg">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"><br>
            <input type="email" class="form-control" id="mail" name="mail" placeholder="Your Email"><br>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"><br>
            <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea><br>
            <button type="submit" value="send" class="btn btn-primary">Send</button>
          </div>
        </form>
        -->
      </div>
    </div>

    <div class="row" style="padding-top: 25px;">
      {{ range .contactItem }}
      <div class="col-lg-4 col-sm-6">
        <div class="contact-info-block text-center mb-4">
          <i class="{{ .icon }}"></i>
          <p class="mb-0">{{ .title | markdownify }}</p>
          {{ range .list }}
          <h5>{{ .listItem }}</h5>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
