<!-- visits -->
{{ if .Site.Data.homepage.visits.enable }}
<section class="section-bottom others-book" id="visits">
  <div class="container">
    {{ with .Site.Data.homepage.visits }}
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h2 class="text-lg">{{ .title | markdownify }}</h2>
          <p>{{ .subtitle | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="row justify-content-center">
      {{ range first 3 (((where .Site.RegularPages "Type" "visit").ByParam "event_date").Reverse)}}
      <div class="col-lg-4 col-md-4 col-sm-6">
        {{ .Render "visit"}}
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-5">
      <a href="/visit" class="btn btn-main">All visits</a>
    </div>
  </div>
</section>
{{ end }}
