{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section blog-wrap border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          {{ $paginator := .Paginate (((where .Site.RegularPages "Type" "visit").ByParam "event_date").Reverse) }}
          {{ range $paginator.Pages }}
          <div class="col-sm-6">
            {{ .Render "visit"}}
          </div>
          {{ end }}
        </div>
        <div class="pagination mt-5 pt-4">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}
